*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

::selection {
  background: var(--fourth-color);
  color: var(--first-color);
}

:root{
    --first-color: #0F0F0F;
    --second-color: #202020;
    --third-color: #5DD62C;
    --fourth-color: #337418;
    --fifth-color: #F8F8F8;
}


#burger{
    display: none;
}

.head_icon{
    margin: auto 20px;
    margin-top: 5px;
}


#shapka{
    z-index: 9999;
    top: 0px;
    width: 100%;
    height: 60px;
    background-color: var(--second-color);
    color: var(--fifth-color);
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: right;
    align-items: center;
    box-shadow: 0px 0px 5px 5px #0F0F0F;
    position: fixed;
}

a[href="./main.php"]{
    text-decoration: none;
    height: 90%;
    width: 10%;
    align-items: center;
    margin: auto 0;
    margin-right: 9%;
}

#logo{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#logo>p{
    color: var(--fifth-color);
    font-size: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    align-content: center;
}

.poisk{
    width: 50%;
    height:75%;
    margin: auto 20px;
    box-shadow: 0px 0px 1px 2px var(--fifth-color);
    border-radius: 1.5em;
    display: flex;
    justify-content: space-between;
    opacity: 0.6;
}

.poisk>input{
    width: 90%;
    height: 100%;
    border-radius: 1.5em;
    border: none;
    background-color: rgba(0,0,0,0);
    text-indent: 20px;
    color: var(--fifth-color);
    font-size: 1.5em;
}

.poisk>input::placeholder{
    text-indent: 20px;
    color: var(--fifth-color);
    opacity: 0.5;
}

.poisk>input:focus{
    outline: none;
}

.poisk svg{
    width: 80%;
}

.poisk button{
    background-color: rgba(0,0,0,0);
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    color: var(--fifth-color);
    margin-right: 10px;
}

.dropdown_icon{
    position: relative;
    display: inline-block;
}

#shapka .head_button{
    width: auto;
    height: 90%;
    margin: 0 auto;
    background-color: var(--second-color);
    color: var(--fifth-color);
    border-style: none;
    opacity: 0.8;
}

.head_button>svg{
    width: 30px;
    height: 30px;
}

.dropdown_content{
    display: none;
    position: absolute;
    background-color: var(--second-color);
    min-width: 150px;
    /* box-shadow: 0px 0px 0px 0px var(--second-color); */
    z-index: 1;
    border-radius: 1.5em;
}

.dropdown_content>div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px auto;
}

.dropdown_content a{
    font-size: 1.2em;
    text-align: left;
    text-decoration: none;
    color: var(--fifth-color);
    border-radius: 1.5em;
    padding: 0px 5px;
    width: 80%;
}

.dropdown_content a:hover{
    background-color: var(--fourth-color);
}

.dropdown_icon:hover .dropdown_content{
    display: block;
}

.profile{
    margin-right: 200px;
}

#like{
    margin: auto 12px;
    margin-top: 8px;
}

#like #like_button{
    width: auto;
}

#like #like_button>svg{
    width: 27px;
    height: 27px;
}


@media(max-width: 450px)
{
    #logoLink{
        display: none;
    }

    #burger{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 25px;
        height: 60%;
        margin-left: 10px;
    }

    #burger>span{
        width: 22px;
        height: 4px;
        background-color: var(--fifth-color);
        border-radius: 1.5em;
    }

    #shapka{
        height: 37px;
    }

    .poisk{
        width: auto;
        margin: auto 12px;
    }

    .profile{
        margin-right: 15px;
    }

    .head_icon{
        margin: auto 5px;
    }

    #like{
        margin: auto 7px;
    }

    .head_button>p{
        display: none;
    }

    .head_button>svg{
        width: 22px;
        height: 22px;
    }

    #like #like_button>svg{
        width: 20px;
        height: 20px;
    }
}