@import './base.css';

#app {
  width: 100%;
  margin: 0 auto;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;

}

@media (hover: hover) {
  a:hover {
    /* background-color: hsla(160, 100%, 37%, 0.2); */
    background-color: var(--color-green);
    
  }
}

@media (min-width: 1024px) {
  ::selection{
    background-color: var(--color-background);
    color: var(--color-text);
  }

}
