*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --first-color: #0F0F0F;
    --second-color: #202020;
    --third-color: #5DD62C;
    --fourth-color: #337418;
    --fifth-color: #F8F8F8;
}

::selection {
  background: var(--fourth-color);
  color: var(--first-color);
}


.wrapper{
    margin-top: 60px;
    width: 100%;
    display: flex;
    background-color: var(--first-color);
    color: #0F0F0F;
    flex-wrap: nowrap;
}

.wrapper #menu{
    display: flex;
    width: 300px;
    min-height: 1500px;
    max-height: 100%;
    background-color: var(--fourth-color) ;
    color: var(--first-color);
}

.wrapper .main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.main>nav{
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    width: 95%;
}

.spisok{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.spisok_element{
    width: 23%;
    height: 280px;
    background-color:var(--second-color);
    list-style: none;
    border-radius: 0 0 1.1em 1.1em;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:start;
    box-shadow: 0px 0px 3px 0.5px var(--fifth-color);
}

.spisok_element>a{
    width: 100%;
    max-height: 70%;
}

.spisok_element img{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.spisok_element>p{
    width: 95%;
    align-content: center;
    text-align: center;
    color: var(--fifth-color);
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 2px 2px 3px var(--first-color);
}

.spisok_element>.priceAndBuy{
    width: 95%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.priceAndBuy>.price{
    width: 45%;
    align-content: center;
    text-align: center;
    color: var(--third-color);
    font-size: 1.4em;
    font-weight: bold;
}

.priceAndBuy>.buy{
    width: 40%;
    border: none;
    border-radius: 1.5em;
    font-size: 1.15em;
    font-weight: bold;
    background-color: var(--fourth-color);
    color: var(--first-color);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
     /* box-shadow: 0px 0px 3px 2px solid var(--fourth-color); */
}

.buy:hover{
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.1);
}

.buy>svg{
    display: none;
}

.buy>p{
    display: block;
}




@media(max-width: 450px)
{
    .wrapper{
        margin-top: 37px;
    }

    .wrapper #menu{
        position: absolute;
        width: 80%;
        left: -80%;
        min-height: 1000px;
        max-height: 100%;
        background-color: var(--fourth-color) ;
        color: var(--first-color);
        transition: 0.7s;
    }

    .spisok_element{
        width: 45%;
        height: 200px;
    }

    .spisok_element>p{
        font-size: 1.5em;
    }

    .spisok_element .price{
        font-size: 1.1em;
    }

    .buy>svg{
        display: block;
        width: 27px;
        height: 27px;
    }

    .buy>p{
        display: none;
    }


}










/* 
.wrapper form{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

form>input{
    width: 90%;
    height: 100%;
    border-radius: 1.5em;
    background-color: green;
    color: white;
    font-size: 2em;
} */



/*
.wrapper .menu{
    position: fixed;
    width: 50%;
    left: -45%;
    height: 100%;
    background-color: green;
    transition: 1s;
    color: white;
    font-size: 5em;
    font-weight: bold;
    text-align: center;
}

.wrapper .menu:hover{
    left: 0%;
    transition: 1s;
}

*/
